
        .first-box {background-image: url('https://images.unsplash.com/photo-1584894132095-a4664fb5fd39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
      		background-position: center;
      		background-repeat: no-repeat;
      		background-size: cover;
      		color:white;

      	}
          .jumbo{
            margin-top:55px;}
